* {
  font-family: $font--body;
  font-size: $font-size--normal;
}

h1,
h2,
h3,
h4 {
  font-family: $font--heading;
}

h1 {
  font-size: $font-size--heading-1;
}
h2 {
  font-size: $font-size--heading-2;
}
h3 {
  font-size: $font-size--heading-3;
}
h4,
h5 {
  font-size: $font-size--title;
}

small,
.text--small {
  font-size: $font-size--small;
}
